@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway";
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

#img-logo {
    width: 50px;
}

#cover {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#texto{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);   
}

#img-card-agenda{
    background-image: url("/img/img-agenda1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
}

#img-card-agenda2{
    background-image: url("/img/img-agenda2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
}

#img-card-agenda3{
    background-image: url("/img/img-agenda3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
}