@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
   
}

body {
    font-family: "Raleway";
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F49E0B;
    color: #000;
} 

.logo {
    width: 1.5rem;
    height: .5rem;
    align-items: cemter;
}

.navbar-links ul {
margin: 0;
padding: 0;
display: flex;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: #222;
    padding: 1em;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(252, 185, 69);
    
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media ( max-width: 300px ) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
     display: none;
     width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5em 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
